-# サイドバー
.side-bar
  .header-l
    .header-l__items
      %p.header-l__items__name
        = current_user.name
      %ul.header-l__items__icons
        %li.header-l__items__icon
          = link_to new_group_path do
            = icon('fas', 'edit')
        %li.header-l__items__icon
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog')
  .groups
    -current_user.groups.each do |group|
      .groups__items
        = link_to "#" do
          .groups__items__name 
            = group.name
      .groups__items__message
        まだメッセージはありません。